# General
LICENSE
install.sh
{{/* container ignore. */}}
{{- if .remoteContainer -}}
# Container
.gitconfig
{{- end -}}
{{- if ne .chezmoi.os "linux" }}
# Ignore on non linux os
.bashrc
.config/blesh/
{{- end -}}
{{- if ne .osid "windows" }}
# Ignore on non windows os
Documents/
{{- end }}
