# General
LICENSE
install.sh
{{/* ignore if not a container */}}
{{- if .remoteContainer | not -}}
devcontainer-install.sh
{{- end -}}
{{/* container ignore. */}}
{{- if .remoteContainer -}}
# Container
.gitconfig
{{- end -}}
{{- if ne .chezmoi.os "linux" }}
# Ignore on non linux os
.bashrc
.config/blesh/
.vim
{{- end -}}
{{- if ne .osid "windows" }}
# Ignore on non windows os
Documents/
vimfiles
{{- end }}
