{{- if .remoteContainer -}}
#!{{ lookPath "bash" }}

set -eu

if [ "$(command -v app)" ]; then
    bash <(curl -sL https://hkdb.github.io/app/getapp.sh)
fi

# Direnv
if [ ! $(command -v direnv) ]; then
    bin_path="$HOME/.local/bin" bash <(curl -LsSf https://direnv.net/install.sh)
fi

# Starship
if [ ! $(command -v starship) ]; then
    sh <(curl -LsSf https://starship.rs/install.sh) --bin-dir $HOME/.local/bin --yes
fi

# Atuin
if [ ! $(command -v atuin) ]; then
    ATUIN_UNMANAGED_INSTALL="$HOME/.local/bin"
    export ATUIN_UNMANAGED_INSTALL
    sh <(curl -LsSf  https://github.com/atuinsh/atuin/releases/latest/download/atuin-installer.sh)
    unset ATUIN_UNMANAGED_INSTALL
fi

# Ble.sh
if [ ! $(command -v ble) ]; then
    # Download nightly
    curl -LO https://github.com/akinomyoga/ble.sh/releases/download/nightly/ble-nightly.tar.xz
    # Unpack
    tar xJf ble-nightly.tar.xz
    # Install
    bash ble-nightly/ble.sh --install ~/.local/share
fi
# Eza
if [ ! $(command -v eza) ]; then
    # Fetch latest release download link
    link=$(curl -sL https://api.github.com/repos/eza-community/eza/releases/latest | jq -r '.assets[] | select(.name == "eza_x86_64-unknown-linux-gnu.tar.gz").browser_download_url')
    # Download latest
    curl -LsSfO "$link"
    # Unpack
    tar xf eza_x86_64-unknown-linux-gnu.tar.gz
    # Install
    mv eza $HOME/.local/bin
fi 
{{ end -}}
